footer {
  background-color: var(--black);
  color: var(--white);
  font-size: clamp(10px, 1vw, 12px);
  padding: clamp(2rem, 5vw, 3rem);

  a {
    color: var(--white);
    text-decoration: none;
  }

  .row {
    row-gap: 1rem;
  }
}

@media (max-width: 768px) {
  footer {
    text-align: center;

    .row {
      justify-content: center;
    }

    .row.mt-3 {
      align-items: center;
    }

    .col-6 {
      width: 100%;
      text-align: center;
    }

    .d-flex {
      justify-content: center !important;
      gap: 2rem !important;
      margin-top: 1rem;
    }
  }
}

@media (max-width: 480px) {
  footer {
    padding: 2rem 1.5rem;

    .d-flex {
      flex-direction: column;
      gap: 1rem !important;
    }
  }
}
