.gallery-section {
  padding: 0 10rem;
  margin-bottom: 3rem;

  .gallery-header {
    margin-bottom: 0.5rem;
    display: flex;

    .gallery-title {
      font-size: 10px;
      margin: 0;
      color: var(--black);
    }

    .gallery-subtitle {
      font-size: 10px;
      margin: 0 0 0 0.25rem;
      color: var(--grey);
    }
  }

  .gallery-grid-wrapper {
    position: relative;

    .gallery-grid {
      display: grid;
      grid-auto-flow: column;
      gap: 1rem;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      padding: 1rem 0;

      &.cols-5 {
        grid-auto-columns: calc((100% - 4rem) / 5);
      }

      &.cols-3 {
        grid-auto-columns: calc((100% - 2rem) / 3);
      }

      .gallery-item,
      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        scroll-snap-align: start;
      }

      .sound-toggle {
        position: absolute;
        bottom: 8px;
        right: 8px;
        border: 0;
        background: transparent;
        opacity: 0;
        transition: opacity 200ms ease;
        cursor: pointer;

        svg {
          width: 15px;
          height: 15px;

          g,
          path {
            fill: var(--white);
          }
        }
      }

      &:hover .sound-toggle {
        opacity: 1;
      }

      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .carousel-dots {
      display: flex;
      justify-content: center;
      margin-top: 1rem;

      .dot {
        width: 5px;
        height: 5px;
        background-color: #ccc;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &.active {
          background-color: #000;
        }
      }
    }
  }
}
