.gallery-section {
  padding: 0 10rem;
  margin-bottom: 3rem;

  .gallery-title {
    font-size: 10px;
    margin-bottom: 0.5rem;
    color: var(--black);
  }

  .gallery-grid-wrapper {
    position: relative;

    .gallery-grid {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: calc((100% - 4rem) / 5);
      gap: 1rem;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      padding: 1rem 0;

      .gallery-item {
        width: 100%;
        height: auto;
        object-fit: contain;
        scroll-snap-align: start;
      }

      &::-webkit-scrollbar {
        display: none;
      }
      -ms-overflow-style: none;
      scrollbar-width: none;
    }

    .carousel-dots {
      display: flex;
      justify-content: center;
      margin-top: 1rem;

      .dot {
        width: 5px;
        height: 5px;
        background-color: #ccc;
        border-radius: 50%;
        margin: 0 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &.active {
          background-color: #000;
        }
      }
    }
  }
}
