.organic-content-section {
  padding: 0 10rem;
  margin-bottom: 3rem;

  .titles {
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;

    .title-btn {
      font-size: 10px;
      margin-bottom: 0.5rem;
      color: var(--grey);

      &.active {
        color: var(--black);
      }
    }
  }

  .main-images {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: auto;
    gap: 1rem;

    .main-image {
      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}
