.project-header {
  margin-bottom: 4rem;

  &-media {
    width: 100%;
    aspect-ratio: 16 / 6;
    overflow: hidden;
    position: relative;
    margin-bottom: 3rem;

    filter: grayscale(100%);
    transition: filter 0.4s ease;

    &:hover {
      filter: grayscale(0%);
    }

    > div {
      width: 100%;
      height: 100%;
    }

    .gatsby-image-wrapper {
      width: 100% !important;
      height: 100% !important;
      max-width: none !important;
    }

    img,
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-content {
    padding: 0 10rem;
  }

  .project-title {
    font-size: 50px;
    margin-bottom: 2rem;
    color: var(--black);
  }

  .project-meta-block {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .project-categories {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 10px;
      color: var(--grey);
      line-height: 1.6;
    }
  }

  .meta-value {
    font-size: 10px;
    color: var(--black);
    line-height: 1.5;
  }
}
