.projects-page {
  padding: 5rem 10rem;

  .project-card {
    text-decoration: none;

    .media {
      width: 300px;
      height: 200px;
      overflow: hidden;
      margin-bottom: 1rem;
      position: relative;

      img,
      .react-player {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: grayscale(100%);
        transition: filter 0.5s ease, transform 0.3s ease;
      }

      .project-card:hover & img,
      .project-card:hover & .react-player {
        filter: grayscale(0%);
        transform: scale(1.05);
      }
    }

    .project-title {
      font-size: 12px;
      color: var(--black);
    }

    .project-description {
      font-size: 10px;
      color: var(--grey);
    }

    .project-button {
      font-size: 10px;
      color: var(--black);
      border: 1px solid var(--grey);
      padding: 0.5rem 1rem;
      text-decoration: none;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: var(--black);
        color: var(--white);
      }
    }
  }
}
