.projects-page {
  padding: 5rem 10rem 0 10rem;

  .project-card {
    text-decoration: none;

    .media {
      width: 100%;
      aspect-ratio: 4 / 2;
      overflow: hidden;
      position: relative;

      filter: grayscale(100%);
      transition: filter 0.4s ease;

      > div {
        width: 100%;
        height: 100%;
      }

      .gatsby-image-wrapper {
        width: 100% !important;
        height: 100% !important;
        max-width: none !important;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }

      video {
        width: 101%;
        height: 100%;
        object-fit: cover;
      }
    }

    &:hover {
      .media {
        filter: grayscale(0%);
      }
    }

    .project-title {
      margin-top: 1rem;
      font-size: 12px;
      color: var(--black);
    }

    .project-description {
      font-size: 10px;
      color: var(--grey);
    }

    .project-button {
      font-size: 10px;
      color: var(--black);
      border: 1px solid var(--grey);
      padding: 0.5rem 1rem;
      text-decoration: none;
      transition: background-color 0.3s ease, color 0.3s ease;

      &:hover {
        background-color: var(--black);
        color: var(--white);
      }
    }
  }
}
