.theme-switcher-toggle {
  border: 0;
  background: transparent;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.theme-switcher-toggle__icon {
  width: 15px;
  height: auto;
  color: var(--grey);
  transition: color 0.2s linear;
}

.theme-switcher-toggle__icon:hover {
  color: var(--grey);
}

.theme-switcher-toggle__icon--moon {
  width: 15px;
  color: var(--grey);
  opacity: 0.6;
  transition:
    opacity 0.2s linear,
    color 0.2s linear;
}

.theme-switcher-toggle__icon--moon:hover {
  color: var(--grey);
  opacity: 0.8;
}

.theme-switcher-toggle__rays {
  transition: opacity 0.2s linear 0.2s;
}

.theme-switcher-toggle__icon--moon .theme-switcher-toggle__rays {
  transition: opacity 0.2s linear;
  opacity: 0;
}

.theme-switcher-toggle__cut-out {
  transition: transform 0.5s cubic-bezier(0.54, -0.42, 0.29, 1.3);
}

.theme-switcher-toggle__icon--moon .theme-switcher-toggle__cut-out {
  transform: translateX(-30%);
  transition: transform 0.5s cubic-bezier(0.21, 0.17, 0.43, 1.43);
}