@import url("https://fonts.cdnfonts.com/css/neutral-face");
@import url("https://fonts.cdnfonts.com/css/gotham");

body {
    font-family: "Neutral Face", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    .light {
        background-color: var(--white);
        color: var(--black);

        button,
        .download-cv {
            border: 0.125rem solid var(--black);
            background-color: var(--white);
            color: var(--black);

            &:hover {
                background-color: var(--black);
                color: var(--white);
                border: 0.125rem solid var(--black);
            }
        }

        .navbar {
            .theme-mode {
                svg {
                    fill: var(--black);
                }
            }
        }

        .homepage {
            .contact {
                .email {
                    display: block;
                    color: var(--black);
                    text-decoration: none;
                }
            }
        }

        .about {
            .bio {
                .profile {
                    svg path {
                        stroke: var(--black);
                    }
                }
            }

            .experience-group {
                .experience-header {
                    border-top: 1px solid var(--black);

                    &.active {
                        border-bottom: 1px solid var(--black);
                    }
                }

                div:nth-child(5),
                div:nth-child(6) {
                    border-bottom: 1px solid var(--black);
                }
            }
        }

        footer {
            background-color: var(--black);
            color: var(--white);

            a {
                color: var(--white);
                text-decoration: none;
            }
        }
    }

    .dark {
        background-color: var(--black);
        color: var(--white);

        button,
        .download-cv {
            border: 0.125rem solid var(--white);
            background-color: var(--black);
            color: var(--white);

            &:hover {
                background-color: var(--white);
                color: var(--black);
                border: 0.125rem solid var(--white);
            }
        }

        .navbar {
            .theme-mode {
                svg {
                    fill: var(--white);
                }
            }
        }

        .homepage {
            .contact {
                .email {
                    display: block;
                    color: var(--white);
                    text-decoration: none;
                }
            }
        }

        .about {
            .bio {
                .profile {
                    svg path {
                        stroke: var(--white);
                    }
                }
                .description {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }

            .experience-group {
                .experience-header {
                    border-top: 1px solid var(--white);

                    &.active {
                        border-bottom: 1px solid var(--white);
                    }
                }

                div:nth-child(5),
                div:nth-child(6) {
                    border-bottom: 1px solid var(--white);
                }
            }
        }

        footer {
            background-color: var(--white);
            color: var(--black);

            a {
                color: var(--black);
                text-decoration: none;
            }
        }
    }

    button.btn.btn-primary,
    .download-cv {
        padding: 0.625rem 2.5rem;
        border-radius: 195px;
    }

    .navbar {
        a {
            color: unset;
            text-decoration: none;
        }

        .theme-mode {
            text-align: right;

            svg {
                width: 25px;
                height: auto;
            }
        }
    }

    .homepage {
        overflow: hidden;

        .main-title {
            font-weight: 400;
            font-size: 14.313rem;
            position: relative;
            white-space: nowrap;
            animation: slide-home 15s linear infinite;
            transform: translate3d(0, 0, 0);
        }

        .contact {
            padding: 10rem 33rem;

            .title {
                font-weight: 400;
                font-size: 48px;
            }
        }
    }

    .about {
        overflow: hidden;

        .main-title {
            font-weight: 400;
            font-size: 14.313rem;
            position: relative;
            white-space: nowrap;
            animation: slide-about 15s linear infinite;
            transform: translate3d(0, 0, 0);
        }

        .bio {
            margin: auto;
            .profile {
                position: relative;
                max-width: 400px;
                .gatsby-image-wrapper {
                    border-radius: 50%;
                    position: relative;
                    overflow: hidden;
                }

                svg {
                    z-index: 2;
                    position: absolute;
                    top: -1.875rem;
                    right: 0.938rem;
                }
            }

            .description {
                font-family: "Gotham", sans-serif;
                font-weight: 400;
            }
        }

        .experience-group {
            overflow: hidden;

            .experience-header {
                cursor: pointer;
                padding: 50px;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 36px;
                transition: background-color 0.5s ease;

                svg {
                    font-weight: 200;
                    float: right;
                    transform: rotate(180deg);
                }

                &.active {
                    svg {
                        transform: rotate(90deg);
                        transform-origin: center center;
                    }
                }
            }

            .experience-content {
                padding: 50px;
                display: none;
                overflow: hidden;

                &.show {
                    display: block;
                }
            }
        }

        .contact {
            padding: 100px;
        }
    }

    footer {
        padding: 3rem 8rem;
    }
}

@keyframes slide-home {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-316%, 0, 0);
    }
}

@keyframes slide-about {
    0% {
        transform: translate3d(0, 0, 0);
    }
    100% {
        transform: translate3d(-324%, 0, 0);
    }
}
