@import url("https://fonts.cdnfonts.com/css/neutral-face");
@import url("https://fonts.cdnfonts.com/css/gotham");

html {
    overflow-x: hidden;
}

body {
    font-family: "Neutral Face", sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    overflow-x: hidden;

    .light {
        background-color: var(--white);
        color: var(--black);

        .btn.btn-primary,
        .download-cv {
            border: 0.0625rem solid var(--black);
            background-color: var(--white);
            color: var(--black);

            &:hover,
            &:active,
            &.active {
                background-color: var(--black) !important;
                color: var(--white) !important;
                border: 0.0625rem solid var(--black) !important;
            }
        }

        .slick-dots {
            button {
                &::before {
                    color: var(--black);
                }

                &:hover {
                    background-color: transparent !important;
                }
            }
        }

        .navbar {
            svg path {
                stroke: var(--black);
            }

            .navbar-toggler {
                svg path {
                    fill: var(--black);
                }
            }
        }

        .homepage {
            .contact {
                .email {
                    display: block;
                    color: var(--black);
                    text-decoration: none;
                }
            }
        }

        .about-page {
            .bio {
                .profile {
                    svg {
                        fill: var(--black);
                    }
                }
            }

            .software-experience-container {
                .software-experience {
                    background-color: var(--white);
                    color: var(--black);
                    border: 0.063rem solid var(--black);
                }

                .software-name {
                    background-color: var(--black);
                    color: var(--white);
                    border: 0.063rem solid var(--white);
                }
            }

            .experience-group {
                border-top: 0.063rem solid var(--black);

                .sliding-text-container {
                    border-top: 0.063rem solid var(--black);
                }

                .experience-header {
                    border-top: 0.063rem solid var(--black);

                    &.active {
                        border-bottom: 0.063rem solid var(--black);
                    }

                    svg path {
                        fill: var(--white);
                        stroke: var(--black);
                    }
                }

                div:last-child {
                    .experience-header {
                        border-bottom: 0.063rem solid var(--black);

                        &.active + .experience-content {
                            border-bottom: 0.063rem solid var(--black);
                        }
                    }
                }
            }
        }

        .contact-page {
            .contact {
                padding: 6rem 33rem 12.5rem 33rem;

                .social-media {
                    a svg {
                        padding: 0.938rem;
                        border-radius: 50%;
                        color: var(--black);
                        background-color: var(--white);
                        border: 0.0625rem solid var(--black);

                        &:hover {
                            color: var(--white);
                            background-color: var(--black);
                            border: 0.0625rem solid var(--black);
                        }
                    }
                }
            }
        }

        .projects-page {
            .graphic-design,
            .editorial-design {
                border-top: 0.063rem solid var(--black);
            }
        }

        .studio-54-page {
            .settings-header {
                border-top: 1px solid var(--black);
                border-bottom: 1px solid var(--black);
            }

            .settings-content {
                border-bottom: 1px solid var(--black);

                .printed-white {
                    display: none;
                }
            }

            .social-media {
                justify-content: center;

                a svg {
                    padding: 0.625rem;
                    border-radius: 50%;
                    color: var(--black);
                    background-color: var(--white);
                    border: 0.0625rem solid var(--black);

                    &:hover {
                        color: var(--white);
                        background-color: var(--black);
                        border: 0.0625rem solid var(--black);
                    }
                }
            }
        }

        .algori-page {
            .logo svg {
                fill: var(--black);
            }

            .flipbook {
                .pages {
                    -webkit-box-shadow: 33px 10px 29px 0px rgba(0, 0, 0, 0.6);
                    -moz-box-shadow: 33px 10px 29px 0px rgba(0, 0, 0, 0.6);
                    box-shadow: 33px 10px 29px 0px rgba(0, 0, 0, 0.6);
                }
            }
        }

        .dulis-lookbook-page {
            .flipbook {
                .pages {
                    -webkit-box-shadow: 33px 10px 29px 0px rgba(0, 0, 0, 0.6);
                    -moz-box-shadow: 33px 10px 29px 0px rgba(0, 0, 0, 0.6);
                    box-shadow: 33px 10px 29px 0px rgba(0, 0, 0, 0.6);
                }
            }
        }

        .feeting-room-page {
            .campaigns {
                .dark {
                    display: none;
                }
            }
        }

        footer {
            background-color: var(--black);
            color: var(--white);

            a {
                color: var(--white);
                text-decoration: none;
            }
        }
    }

    .dark {
        background-color: var(--black);
        color: var(--white);

        .btn.btn-primary,
        .download-cv {
            border: 0.0625rem solid var(--white);
            background-color: var(--black);
            color: var(--white);

            &:hover,
            &:active,
            &.active {
                background-color: var(--white) !important;
                color: var(--black) !important;
                border: 0.0625rem solid var(--white) !important;
            }
        }

        .slick-dots {
            button {
                &::before {
                    color: var(--white);
                }

                &:hover {
                    background-color: transparent !important;
                }
            }
        }

        .navbar {
            svg path {
                stroke: var(--white);
            }

            .navbar-toggler {
                svg path {
                    fill: var(--white);
                }
            }
        }

        .homepage {
            .contact {
                .email {
                    display: block;
                    color: var(--white);
                    text-decoration: none;
                }
            }
        }

        .about-page {
            .bio {
                .profile {
                    svg {
                        fill: var(--white);
                    }
                }
                .description {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                }
            }

            .software-experience-container {
                .software-experience {
                    background-color: var(--black);
                    color: var(--white);
                    border: 0.063rem solid var(--white);
                }

                .software-name {
                    background-color: var(--white);
                    color: var(--black);
                    border: 0.063rem solid var(--white);
                }
                .software-stars {
                    svg.full path {
                        fill: var(--white);
                    }

                    svg.empty path {
                        fill: var(--black);
                        stroke: var(--white);
                    }
                }
            }

            .experience-group {
                border-top: 0.063rem solid var(--white);

                .software-experience-list {
                    img {
                        filter: invert(100%) sepia(0) saturate(0);
                    }
                }

                .sliding-text-container {
                    border-top: 0.063rem solid var(--white);
                }

                .experience-header {
                    border-top: 0.063rem solid var(--white);

                    &.active {
                        border-bottom: 0.063rem solid var(--white);
                    }

                    svg path {
                        fill: var(--black);
                        stroke: var(--white);
                    }
                }

                div:last-child {
                    .experience-header {
                        border-bottom: 0.063rem solid var(--white);

                        &.active + .experience-content {
                            border-bottom: 0.063rem solid var(--white);
                        }
                    }
                }
            }
        }

        .contact-page {
            .contact {
                padding: 6rem 33rem 12.5rem 33rem;

                .social-media {
                    a svg {
                        padding: 0.938rem;
                        border-radius: 50%;
                        color: var(--white);
                        background-color: var(--black);
                        border: 0.0625rem solid var(--white);

                        &:hover {
                            color: var(--black);
                            background-color: var(--white);
                            border: 0.0625rem solid var(--white);
                        }
                    }
                }
            }
        }

        .projects-page {
            .graphic-design,
            .editorial-design {
                border-top: 0.063rem solid var(--white);
            }
        }

        .studio-54-page {
            .settings-header {
                border-top: 1px solid var(--white);
                border-bottom: 1px solid var(--white);
            }

            .settings-content {
                border-bottom: 1px solid var(--white);

                .printed-black {
                    display: none;
                }
            }

            .social-media {
                justify-content: center;

                a svg {
                    padding: 0.625rem;
                    border-radius: 50%;
                    color: var(--white);
                    background-color: var(--black);
                    border: 0.0625rem solid var(--white);

                    &:hover {
                        color: var(--black);
                        background-color: var(--white);
                        border: 0.0625rem solid var(--white);
                    }
                }
            }

            .logo {
                svg {
                    fill: var(--white);
                }
            }
        }

        .algori-page {
            .logo svg g {
                fill: var(--white);
            }
        }

        .feeting-room-page {
            .logo {
                svg {
                    fill: var(--white);
                }
            }

            .campaigns {
                .light {
                    display: none;
                }
            }
        }

        footer {
            background-color: var(--white);
            color: var(--black);

            a {
                color: var(--black);
                text-decoration: none;
            }
        }
    }

    .under-construction {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;

        svg {
            width: 75px;
            height: 75px;
            animation: rotation 10s infinite linear;
        }
    }

    p {
        font-family: "Gotham", sans-serif;
    }

    .btn.btn-primary,
    .download-cv {
        padding: 0.625rem 2.5rem;
        border-radius: 12.188rem;
    }

    .navbar {
        padding-bottom: 2.26rem;
        position: fixed;
        width: 100%;
        z-index: 10;

        .navbar-toggler {
            border: 0;

            &:active,
            &:focus {
                box-shadow: none;
            }
        }

        .row {
            margin: 0 !important;

            .logo {
                padding-left: 2.5rem;
            }

            .theme-mode {
                padding-right: 2.5rem;
            }

            .col-12 {
                padding: 0.25rem;
            }
        }

        a {
            color: unset;
            text-decoration: none;
        }

        button.btn.btn-primary {
            font-size: 12px;
            padding: 0.625rem 1.5rem;
        }

        .theme-mode {
            text-align: right;

            svg {
                width: 1.563rem;
                height: auto;

                &:focus,
                &:active {
                    outline: 0;
                }
            }
        }
    }

    .homepage {
        .sliding-text {
            padding-top: 3rem;
        }

        .projects-carousel {
            text-align: center;

            .info-card {
                max-width: 300px;
                min-height: 380px;
                text-align: left;
                overflow: hidden;
                transition: transform 0.3s ease;
                font-family: "Gotham", sans-serif;

                &:hover {
                    transform: scale(1.1);

                    .gatsby-image-wrapper picture img {
                        opacity: 0.5 !important;
                    }

                    .video-wrapper video {
                        opacity: 0.5 !important;
                    }
                }

                video,
                .gatsby-image-wrapper {
                    border-radius: 2.188rem;
                    transition: opacity 0.5s ease-in-out;
                }

                .video-wrapper {
                    position: relative;
                    display: inline-block;

                    .player-wrapper {
                        position: relative;
                        width: 100%;

                        video {
                            width: 100%;
                            height: auto;
                        }
                    }
                }

                .info-name {
                    min-height: 48px;
                }

                .thumb {
                    min-height: 392px;
                }
            }

            .slick-dots {
                bottom: 0.25rem;

                button {
                    border: 0;

                    &::before {
                        font-size: 0.75rem;
                    }
                }
            }
        }

        .contact {
            padding: 6rem 0 12.5rem 0;

            .title {
                font-weight: 400;
                font-size: 3rem;
            }

            .contact-me {
                font-family: "Gotham", sans-serif;
                font-weight: 500;
            }

            .email {
                font-family: "Gotham", sans-serif;
            }
        }
    }

    .about-page {
        .bio {
            margin: auto;
            padding-bottom: 3rem;

            .profile {
                display: flex;
                align-items: center;
                justify-content: center;
                max-width: 18.75rem;

                .gatsby-image-wrapper {
                    position: relative;
                    overflow: hidden;

                    img {
                        border-radius: 50%;
                        max-width: 17.188rem;
                        max-height: 17.188rem;
                        margin: auto;
                    }
                }

                svg {
                    max-width: 21.875rem;
                    z-index: 2;
                    position: absolute;
                    animation: rotation 15s infinite linear;
                }
            }

            .description {
                font-family: "Gotham", sans-serif;
                font-weight: 400;
                padding-right: 5.75rem;
            }
        }

        .software-experience-container {
            padding-bottom: 1rem;
            margin: auto;

            .row {
                padding: 1rem 3.5rem;
            }

            div {
                font-size: 14px;
                line-height: 2.5rem;
                padding: 0.25rem 0.5rem;
                border-radius: 12.188rem;
                text-align: center;

                .software-experience {
                    left: 3rem;
                    position: relative;
                    z-index: 2;
                }

                .software-name {
                    opacity: 0;
                    padding-left: 4rem;
                    padding-right: 2rem;
                    transform: translateX(-50%);
                    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
                }

                .software-stars {
                    opacity: 0;
                    text-align: left;
                    transform: translateX(-50%);
                    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
                }
            }
        }

        .experience-group {
            position: relative;
            overflow: hidden;

            .software-experience-list {
                padding: 0.938rem 6.5rem;
                display: flex;
                justify-content: space-between;

                .software-experience {
                    position: relative;
                    cursor: pointer;

                    img {
                        max-height: 2rem;
                    }
                }
            }

            .sliding-text-container {
                padding-top: 0.5rem;

                .text {
                    font-size: 3rem !important;
                }

                .item-separator-dot {
                    margin: 0 0.625rem !important;
                }
            }

            .experience-header {
                cursor: pointer;
                padding: 1.563rem 2.188rem;
                width: 100%;
                border: none;
                text-align: left;
                outline: none;
                font-size: 1.25rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                height: 6.25rem;

                svg {
                    font-weight: 200;
                    float: right;
                }

                &.active {
                    svg {
                        transform: rotate(-90deg);
                        transform-origin: center center;
                    }
                }
            }

            .experience-content {
                padding: 3rem 17.75rem;
                display: none;
                overflow: hidden;

                &.show {
                    display: block;
                }

                .experience-text {
                    font-family: "Gotham", sans-serif;
                    margin-top: 3.5rem;

                    ul {
                        list-style: circle;

                        li::before {
                            content: "\2022";
                            font-weight: bold;
                            display: inline-block;
                            width: 1rem;
                            margin-left: -1rem;
                        }
                    }
                }
            }
        }

        .contact {
            padding: 6.25rem;
        }
    }

    .contact-page {
        .contact {
            padding: 6rem 33rem 12.5rem 33rem;

            .title {
                font-size: 3rem;
            }

            svg {
                transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
                    box-shadow 0.15s ease-in-out;
            }
        }
    }

    .projects-page {
        .sliding-text-container {
            .text {
                font-size: 3rem !important;
            }

            .item-separator-dot {
                margin: 0 0.625rem !important;
            }
        }

        .projects {
            .project-card {
                transition: transform 0.3s ease;
                text-align: center;
                font-family: "Gotham", sans-serif;

                .gatsby-image-wrapper {
                    width: 300px !important;
                    height: 312px !important;

                    img {
                        border-radius: 39px;
                        max-height: 300px;
                        transition: opacity 0.3s ease-in-out;
                    }
                }

                .video-wrapper {
                    width: 300px !important;
                    height: 300px !important;
                    position: relative;
                    overflow: hidden;
                    display: inline-block;

                    .player-wrapper {
                        width: inherit !important;
                        height: inherit !important;

                        video {
                            border-radius: 39px;
                            width: inherit !important;
                            height: inherit !important;
                            object-fit: cover;
                            transition: opacity 0.3s ease-in-out;
                        }
                    }
                }

                &:hover {
                    transform: scale(1.1);

                    .gatsby-image-wrapper picture img,
                    .video-wrapper video {
                        opacity: 0.5 !important;
                    }
                }
            }
        }

        .graphic-design,
        .editorial-design {
            padding-top: 2rem;
        }
    }

    .studio-54-page {
        .video {
            video {
                border-radius: 44px;
            }
        }

        .intro {
            padding-top: 5rem;
        }

        .products {
            max-width: 1120px;

            .product-card {
                width: 20% !important;
                padding: calc(var(--bs-gutter-x) * 0.25);
                text-align: center;

                .hover {
                    display: none;
                }

                .gatsby-image-wrapper {
                    width: 200px !important;
                    height: 200px !important;
                    border-radius: 39px;
                }

                &:hover {
                    .hover {
                        display: block;
                    }

                    .normal {
                        display: none;
                    }
                }
            }
        }

        .settings-header {
            cursor: pointer;
            padding: 1.563rem 2.188rem;
            width: 100%;
            border: none;
            text-align: left;
            outline: none;
            font-size: 1.25rem;
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 6.25rem;
            border-top: 1px solid var(--black);
            border-bottom: 1px solid var(--black);

            svg {
                font-weight: 200;
                float: right;
            }

            &.active {
                svg {
                    transform: rotate(-90deg);
                    transform-origin: center center;
                }
            }
        }

        .settings-content {
            border-bottom: 1px solid var(--black);
            padding: 3rem 17.75rem;
            display: none;
            overflow: hidden;

            &.show {
                display: block;
            }

            .gatsby-image-wrapper img {
                object-fit: contain;
            }
        }

        .sneak-peek,
        .studio-carousel {
            margin-top: 3rem;

            .sliding-text-container {
                .text {
                    font-size: 3rem !important;
                }
            }

            .item-separator-dot {
                margin: 0 0.625rem !important;
            }

            .backstage {
                max-width: 1520px;
                margin: auto;
                .backstage-card {
                    .row {
                        height: 100%;

                        .gatsby-image-wrapper {
                            width: 100% !important;
                            border-radius: 39px;
                        }

                        .video-wrapper {
                            width: 100% !important;
                            height: 100% !important;
                            position: relative;
                            display: none;

                            .player-wrapper {
                                width: 100% !important;
                                height: 100% !important;
                                position: relative;
                                width: 100%;

                                video {
                                    object-fit: cover;
                                    border-radius: 39px;
                                    width: 100%;
                                    height: 100% !important;
                                }
                            }
                        }
                    }

                    &:hover {
                        .gatsby-image-wrapper {
                            display: none;
                        }

                        .video-wrapper {
                            display: inline-block;
                        }
                    }
                }
            }
        }

        .studio-carousel {
            .info-card {
                pointer-events: none;
                max-width: 300px;
                height: 580px !important;
                overflow: hidden;
                margin-left: 1rem !important;

                .row {
                    height: 100% !important;
                    width: 100% !important;
                    margin: 0;

                    .col-12 {
                        padding: 0;
                        height: 100% !important;
                        width: 100% !important;

                        .gatsby-image-wrapper {
                            width: 100% !important;
                            height: 100% !important;
                            border-radius: 2.188rem;
                        }

                        .video-wrapper {
                            width: 100% !important;
                            height: 100% !important;
                            position: relative;
                            display: inline-block;

                            .player-wrapper {
                                width: 100% !important;
                                height: 100% !important;
                                position: relative;
                                width: 100%;

                                video {
                                    object-fit: cover;
                                    border-radius: 2.188rem;
                                    width: 100%;
                                    height: 484px !important;
                                }
                            }
                        }
                    }
                }
            }

            .slick-dots {
                bottom: 0.25rem;

                button {
                    border: 0;

                    &::before {
                        font-size: 0.75rem;
                    }
                }
            }

            .container {
                margin-top: 3rem;
            }
        }

        .the-event {
            margin-top: 5rem;
            .title {
                font-size: 144px;
                text-align: center;
                margin-bottom: -5rem;
            }

            .event {
                .gatsby-image-wrapper {
                    margin: auto;

                    img {
                        object-fit: contain !important;
                    }
                }
            }
        }

        .logo {
            margin-top: 5rem;
            margin-bottom: 3rem;
        }
    }

    .dat-page {
        .logo {
            .gatsby-image-wrapper {
                margin: auto;
                width: 200px !important;
                height: 190px !important;

                img {
                    object-fit: contain !important;
                }
            }
        }

        .posters {
            .gatsby-image-wrapper {
                height: 800px !important;
                width: 100% !important;

                img {
                    object-fit: contain !important;
                }
            }
        }

        .merch {
            margin-bottom: 5rem;

            .gatsby-image-wrapper {
                height: 500px !important;
                width: 100% !important;

                img {
                    object-fit: contain !important;
                }
            }
        }
    }

    .algori-page {
        .logo svg {
            max-width: 320px;
            height: fit-content;
        }

        .buttons {
            justify-content: space-around;
            display: flex;
        }

        .flipbook {
            .pages {
                background-color: var(--white);
                -webkit-box-shadow: 33px 10px 29px 0px rgba(0, 0, 0, 0.6);
                -moz-box-shadow: 33px 10px 29px 0px rgba(0, 0, 0, 0.6);
                box-shadow: 33px 10px 29px 0px rgba(0, 0, 0, 0.6);

                .gatsby-image-wrapper {
                    width: 500px !important;
                    height: 710px !important;
                }
            }
        }

        .buttons-pages {
            font-size: 12px;

            button {
                font-size: 12px;
            }
        }

        .postcard {
            .gatsby-image-wrapper {
                margin: auto;
                width: 800px !important;
                height: 534px !important;

                img {
                    object-fit: contain;
                }
            }
        }
    }

    .dulis-lookbook-page {
        .logo svg {
            max-width: 320px;
            height: fit-content;
        }

        .buttons {
            justify-content: space-around;
            display: flex;
        }

        .flipbook {
            .pages {
                background-color: var(--white);
                -webkit-box-shadow: 33px 10px 29px 0px rgba(0, 0, 0, 0.6);
                -moz-box-shadow: 33px 10px 29px 0px rgba(0, 0, 0, 0.6);
                box-shadow: 33px 10px 29px 0px rgba(0, 0, 0, 0.6);

                .gatsby-image-wrapper {
                    width: 500px !important;
                    height: 710px !important;
                }
            }
        }

        .buttons-pages {
            font-size: 12px;

            button {
                font-size: 12px;
            }
        }

        .final-text {
            margin-top: 5rem;
            margin-bottom: 5rem;
        }
    }

    .dulis-campaign-page {
        .logo svg {
            max-width: 320px;
            height: fit-content;
        }

        .buttons {
            justify-content: space-around;
            display: flex;
        }

        .tales-text {
            padding-top: 3rem;
            font-size: 68px;
        }

        .video-container {
            video {
                border-radius: 44px;
            }
        }

        .tv-text {
            padding-top: 3rem;
            padding-bottom: 5rem;
        }

        .kit-sliding {
            padding-top: 0.5rem;

            .text {
                font-size: 3rem !important;
            }

            .item-separator-dot {
                margin: 0 0.625rem !important;
            }
        }

        .kit-text {
            padding-top: 3rem;
        }

        .cards {
            padding-top: 5rem;
            padding-bottom: 5rem;

            .flip-card {
                height: 400px;

                .flip-card-inner {
                    position: relative;
                    width: 100%;
                    height: 100%;
                    text-align: center;
                    transition: transform 0.8s;
                    transform-style: preserve-3d;

                    .flip-card-front,
                    .flip-card-back {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        -webkit-backface-visibility: hidden; /* Safari */
                        backface-visibility: hidden;
                    }

                    .flip-card-front {
                        transform: rotateY(180deg);
                    }
                }

                &:hover .flip-card-inner {
                    transform: rotateY(180deg);
                }
            }
        }
    }

    .feeting-room-page {
        .logo {
            margin-bottom: 3rem;
        }

        .shorttakes {
            margin-top: 5rem;

            .sliding-text-container {
                .text {
                    font-size: 3rem !important;
                }

                .item-separator-dot {
                    margin: 0 0.625rem !important;
                }
            }

            .row {
                margin-top: 3rem !important;

                .intro {
                    margin-top: 3rem;
                }

                .shorttakes-card {
                    transition: transform 0.3s ease;

                    .video-wrapper {
                        width: 95% !important;
                        height: auto !important;
                        position: relative;
                        overflow: hidden;
                        display: inline-block;

                        .player-wrapper {
                            width: inherit !important;
                            height: inherit !important;

                            video {
                                border-radius: 20px;
                                width: inherit !important;
                                height: inherit !important;
                                object-fit: cover;
                                transition: opacity 0.3s ease-in-out;
                            }
                        }
                    }

                    &:hover {
                        transform: scale(1.1);

                        .video-wrapper video {
                            opacity: 0.5 !important;
                        }
                    }
                }
            }
        }

        .reels {
            margin-top: 3rem;

            .sliding-text-container {
                .text {
                    font-size: 3rem !important;
                }

                .item-separator-dot {
                    margin: 0 0.625rem !important;
                }
            }

            .videos {
                margin-top: 3rem;

                .reels-card {
                    transition: transform 0.3s ease;

                    .video-wrapper {
                        width: 100% !important;
                        height: auto !important;
                        position: relative;
                        overflow: hidden;
                        display: inline-block;

                        .player-wrapper {
                            width: inherit !important;
                            height: inherit !important;

                            video {
                                border-radius: 20px;
                                width: inherit !important;
                                height: inherit !important;
                                object-fit: cover;
                                transition: opacity 0.3s ease-in-out;
                            }
                        }
                    }

                    &:hover {
                        transform: scale(1.1);

                        .video-wrapper video {
                            opacity: 0.5 !important;
                        }
                    }
                }
            }

            .container {
                margin-top: 3rem;
            }
        }

        .campaigns {
            margin-top: 3rem;

            .sliding-text-container {
                .text {
                    font-size: 3rem !important;
                }

                .item-separator-dot {
                    margin: 0 0.625rem !important;
                }
            }

            .intro {
                margin-top: 3rem;
                margin-bottom: 3rem;
            }

            .ads {
                .video-wrapper {
                    width: 100% !important;
                    height: auto !important;
                    position: relative;
                    overflow: hidden;
                    display: inline-block;

                    .player-wrapper {
                        width: inherit !important;
                        height: inherit !important;

                        video {
                            border-radius: 39px;
                            width: inherit !important;
                            height: inherit !important;
                            object-fit: cover;
                            transition: opacity 0.3s ease-in-out;
                        }
                    }
                }
            }

            .layouts {
                .layout-card {
                    margin-top: 3rem;

                    img {
                        border-radius: 39px;
                    }
                }

                & + .label {
                    margin-top: 14px;
                }
            }
        }

        .spotify {
            margin-top: 3rem;

            .sliding-text-container {
                .text {
                    font-size: 3rem !important;
                }

                .item-separator-dot {
                    margin: 0 0.625rem !important;
                }
            }

            .container {
                margin-top: 3rem;
                margin-bottom: 3rem;

                .video-wrapper {
                    width: 100% !important;
                    height: auto !important;
                    position: relative;
                    overflow: hidden;
                    display: inline-block;

                    .player-wrapper {
                        width: inherit !important;
                        height: inherit !important;

                        video {
                            border-radius: 39px;
                            width: inherit !important;
                            height: inherit !important;
                            object-fit: cover;
                            transition: opacity 0.3s ease-in-out;
                        }
                    }
                }

                .playlists {
                    .spotify-card {
                        img {
                            border-radius: 39px;
                        }
                    }
                }

                .info {
                    margin-top: 10%;
                }
            }
        }
    }

    footer {
        font-size: 12px;
        padding: 1.5rem 0 1.25rem 0;
        font-family: "Gotham", sans-serif;

        .social-media {
            text-align: right;

            div {
                display: inline-block;
                margin-right: 0.938rem;
            }
        }
    }

    .sliding-text-container {
        display: flex;
        white-space: nowrap;

        .list {
            display: flex;
            align-items: center;
            -webkit-animation: loop 10s infinite linear;
            animation: loop 10s infinite linear;

            .item {
                display: flex;
                align-items: center;

                .text {
                    font-family: "Neutral Face", sans-serif;
                    font-size: 14.313rem;
                    -webkit-user-select: none; /* Safari/Chrome */
                    -moz-user-select: none; /* Firefox */
                    -ms-user-select: none; /* Internet Explorer/Edge */
                    user-select: none;
                    vertical-align: baseline;
                }

                .item-separator {
                    display: inline;

                    .item-separator-dot {
                        max-width: 1.25rem;
                        max-height: 1.25rem;
                        margin: 0 3.125rem;
                        padding: 0.625rem;
                        border-radius: 50%;
                        display: inline-block;
                        transform: translateY(-1.875rem);
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .homepage {
        .sliding-text {
            padding-top: 5rem !important;
        }
    }
    .sliding-text-container {
        .text {
            font-size: 3rem !important;
        }

        .item-separator-dot {
            margin: 0 0.625rem !important;
        }
    }
}

@keyframes loop {
    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}
