@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

html {
  overflow-x: hidden;
}

body {
  font-family: "Manrope", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  background-color: var(--white);

  main {
    padding-top: 3.6rem;
  }
}

html.no-theme-transition,
html.no-theme-transition *,
html.no-theme-transition *::before,
html.no-theme-transition *::after {
  transition: none !important;
}

html:not(.no-theme-transition),
html:not(.no-theme-transition) *,
html:not(.no-theme-transition) *::before,
html:not(.no-theme-transition) *::after {
  transition:
    background-color 0.5s ease-in-out,
    color 0.5s ease-in-out,
    border-color 0.5s ease-in-out,
    box-shadow 0.5s ease-in-out,
    fill 0.5s ease-in-out,
    stroke 0.5s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  html:not(.no-theme-transition),
  html:not(.no-theme-transition) *,
  html:not(.no-theme-transition) *::before,
  html:not(.no-theme-transition) *::after {
    transition: none !important;
  }
}
