@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

html {
  overflow-x: hidden;
}

body {
  font-family: "Manrope", sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  background-color: var(--white);
  transition: background-color 0.4s ease-in-out;

  main {
    padding-top: 3.6rem;
  }
}