:root {
  --always-back: #000000;
  --always-white: #ffffff;
  --white: #ffffff;
  --black: #000000;
  --gray: #ababab;
  --blue: #1500ff;
}

:root[data-theme="dark"] {
  --always-back: #000000;
  --always-white: #ffffff;
  --white: #000000;
  --black: #ffffff;
  --gray: #ababab;
  --blue: #1500ff;
}
